@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="text-center">
        <h1 class="display-4">Xin chào!</h1>
        <p>Thời gian hiện hành là @DateTime.Now</p>
    </div>
</div>
