@page
@model WebApp02.Pages.IndexModel
@{
	Layout = null;
	ViewData["Title"] = "Thông tin";
	var name = "duongkimhong";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewData</title>
</head>
<body>
	<h1>Thông tin</h1>
	<p>Trang web viết bởi @name.</p>
</body>
</html>
