@page
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thời gian hiện tại là @DateTime.Now.</p>
    <button class="btn btn-success" type="button" id="changeColorButton">Chuyển màu nền</button>
</div>
