@model BTTH04.Models.Product

@{
    ViewData["Title"] = "Create";
    var categories = (SelectList)ViewBag.CategoryId;
    foreach (var category in categories)
    {
        Console.WriteLine($"Value: {category.Value}, Text: {category.Text}");
    }
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="isSale" class="control-label"></label>
                <input asp-for="isSale" class="form-check-input" type="checkbox" />
            </div> *@
            <div class="form-group">
                <label asp-for="isSale" class="control-label"></label>
                <input asp-for="isSale" class="form-check-input" type="checkbox" onclick="togglePriceSaleInput()" />
            </div>
            @* <div class="form-group">
                <label asp-for="PriceSale" class="control-label"></label>
                <input asp-for="PriceSale" class="form-control" />
                <span asp-validation-for="PriceSale" class="text-danger"></span>
            </div> *@
            <div class="form-group" id="priceSaleDiv" hidden>
                <label asp-for="PriceSale" class="control-label"></label>
                <input asp-for="PriceSale" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverImage" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="CoverImage" type="file" class="form-control" id="fileInput" style="display: none;" />
                    <input type="text" class="form-control" readonly id="fileName" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" onclick="document.getElementById('fileInput').click();">Chọn tệp</button>
                    </div>
                </div>
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rating" class="control-label"></label>
                <input asp-for="rating" class="form-control" />
                <span asp-validation-for="rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    document.getElementById('fileInput').addEventListener('change', function () {
        document.getElementById('fileName').value = this.files[0].name;
    });

    function togglePriceSaleInput() {
        var checkBox = document.getElementById("isSale");
        var priceSaleDiv = document.getElementById("priceSaleDiv");
        if (checkBox.checked == true) {
            priceSaleDiv.hidden = false;
        } else {
            priceSaleDiv.hidden = true;
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
